## <font color=#F8F8FF> Vamos trabalhar com o Biblioteca Yfinance
---
Observação: Durante a aula, no tempo 07:19, o instrutor realizará uma alteração no nome da coluna, substituindo level1 por Ativo. No entanto, a coluna a ser renomeada deve ser Ticker para Ativo. O código correto para essa modificação é : cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativo"}).

In [1]:
import yfinance as yf

In [2]:
# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [3]:
# Carregando os dados da carteira
df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

C:\Users\oneplayer\AppData\Local\Temp\ipykernel_27472\3793461737.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")
[*********************100%***********************]  10 of 10 completed

In [6]:
df.head(5)

Price           Close                                                        \
Ticker       ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA  ITSA4.SA   PETR4.SA
Date
2022-08-01  12.038722   9.887988  41.933964  14.938278  5.394044  14.965440
2022-08-02  12.104553   9.824312  42.258617  15.398987  5.444572  15.032092
2022-08-03  12.038722  10.151790  42.393887  14.774191  5.488786  15.040977
2022-08-04  12.079866  10.824935  43.575253  15.241212  5.615111  15.200940
2022-08-05  12.014036  10.979578  43.403912  15.556762  5.690905  15.494206

Price                                                   ...    Volume  \
Ticker       RENT3.SA   SUZB3.SA   VALE3.SA   WEGE3.SA  ...  ABEV3.SA
Date                                                    ...
2022-08-01  50.660439  43.352531  50.583149  26.394472  ...  34565900
2022-08-02  50.899738  43.708706  52.195450  26.867838  ...  12515800
2022-08-03  52.486191  43.224678  50.167065  26.621689  ...  19576600
2022-08-04  55.074165  43.087692  49.877300  27.274923  ...  22962500
2022-08-05  55.083035  43.644775  50.523708  27.293856  ...  20809900

Price                                                                   \
Ticker      B3SA3.SA  ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA  RENT3.SA
Date
2022-08-01  26237600  12239200  16655058  25799552  81365100   6769429
2022-08-02  29130100   7477600  16078734  15750344  69147100   4870629
2022-08-03  29172900   8281500  30645468  25337732  65544500   4927295
2022-08-04  59880700  15902400  25732728  31015850  54387500  10370006
2022-08-05  32183700   9913300  13861512  16892471  77882600   6859552

Price
Ticker     SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01  7127600  38874000  8202200
2022-08-02  4379000  32636900  7214800
2022-08-03  4451900  31934600  6627100
2022-08-04  4318300  40540800  5433900
2022-08-05  4252100  36129300  4063300

[5 rows x 50 columns]

In [11]:
# Passando os ativos para o multindex do df
cotacoes = df.stack(level=1, future_stack=True)
cotacoes

Price                    Close       High        Low       Open    Volume
Date       Ticker
2022-08-01 ABEV3.SA  12.038722  12.252671  11.874146  12.227984  34565900
           B3SA3.SA   9.887988  10.115403   9.742443  10.024437  26237600
           ELET3.SA  41.933964  42.285667  41.176447  41.302699  12239200
           GGBR4.SA  14.938278  15.544141  14.830991  15.544141  16655058
           ITSA4.SA   5.394044   5.482471   5.337198   5.463522  25799552
...                        ...        ...        ...        ...       ...
2023-07-31 PETR4.SA  21.798697  21.826724  21.231131  21.231131  91290800
           RENT3.SA  61.220680  61.621410  60.510298  61.056749   5980447
           SUZB3.SA  45.487907  45.998902  44.797120  44.844433   4602700
           VALE3.SA  55.423893  55.840611  54.366057  54.494282  26065700
           WEGE3.SA  38.375462  38.731149  38.269721  38.731149   7141800

[2500 rows x 5 columns]

In [21]:
cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativo"})
cotacoes.columns.name = None
# Remove a coluna 'index' (que veio do reset_index)
cotacoes = cotacoes.drop(columns='index')
# Organizando o df
cotacoes = cotacoes[["Date", "Open", "High", "Low", "Close", "Ativo"]]
cotacoes.head(10)

        Date       Open       High        Low      Close     Ativo
0 2022-08-01  12.227984  12.252671  11.874146  12.038722  ABEV3.SA
1 2022-08-01  10.024437  10.115403   9.742443   9.887988  B3SA3.SA
2 2022-08-01  41.302699  42.285667  41.176447  41.933964  ELET3.SA
3 2022-08-01  15.544141  15.544141  14.830991  14.938278  GGBR4.SA
4 2022-08-01   5.463522   5.482471   5.337198   5.394044  ITSA4.SA
5 2022-08-01  15.107629  15.174281  14.761043  14.965440  PETR4.SA
6 2022-08-01  50.873146  51.298569  50.341372  50.660439  RENT3.SA
7 2022-08-01  44.165334  44.165334  42.877635  43.352531  SUZB3.SA
8 2022-08-01  51.222126  51.898249  50.471698  50.583149  VALE3.SA
9 2022-08-01  26.545949  27.151847  26.290334  26.394472  WEGE3.SA

In [22]:
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativo   2500 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 117.3+ KB

In [ ]:
######### Codigo para o Power BI ###########
# Código completo da obtenção dos dados históricos das cotações da carteira de 01/08/2022 à 01/08/2023

# import yfinance as yf

# # Definindo a carteira de ações
# carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
#                'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

# # Carregando os dados da carteira
# df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

# # Passando os ativos para o multindex do df
# cotacoes = df.stack(level=1, future_stack=True)

# # Renomeia a coluna 'Ticker' para 'Ativo'
# cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativo"})

# # Remove o nome do eixo de colunas
# cotacoes.columns.name = None

# # 🔹 Linha removida — não há coluna 'index' para apagar
# # cotacoes = cotacoes.drop(columns='index')

# # Reorganiza as colunas 
# cotacoes = cotacoes[["Date", "Open", "High", "Low", "Close", "Ativo"]]

# del carteira_yf, df

## <font color=#F8F8FF> Vamos Agora utilizar os dados da funtamentus
---
Vamos ver a saúde financeira dessas empresas

In [24]:
import fundamentus
import pandas as pd

2025-10-27 22:00:36,191 [logging.log_init] INFO: LOGLEVEL=INFO

In [25]:
# Lendo um papel específico
weg = fundamentus.get_papel("WEGE3")
weg

2025-10-27 22:00:39,408 [detalhes.get_papel] INFO: detalhes: call: get..._papel()

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
WEGE3,WEGE3,ON N1,WEG SA ON N1,Máquinas e Equipamentos,"Motores, Compressores e Outros",41.67,2025-10-27,35.50,57.50,354879000,...,26776100000,3850850000,-3484460000,22408800000,41379600000,8945350000,6482750000,10271500000,2257560000,1650470000

In [26]:
# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

In [27]:
# Criando um df com algumas infos da carteira
ind = fundamentus.get_papel(carteira_fund)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado',
                                            'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m',
                                            'Lucro_Liquido_12m', 'Lucro_Liquido_3m']]
ind.head(3)

2025-10-27 22:01:16,211 [detalhes.get_papel] INFO: detalhes: call: get..._list()
2025-10-27 22:01:16,211 [detalhes.get_detalhes_list] INFO: get list: [Papel: ABEV3]
2025-10-27 22:01:17,048 [detalhes.get_detalhes_list] INFO: get list: [Papel: B3SA3]
2025-10-27 22:01:17,869 [detalhes.get_detalhes_list] INFO: get list: [Papel: ELET3]
2025-10-27 22:01:18,720 [detalhes.get_detalhes_list] INFO: get list: [Papel: GGBR4]
2025-10-27 22:01:19,545 [detalhes.get_detalhes_list] INFO: get list: [Papel: ITSA4]
2025-10-27 22:01:20,365 [detalhes.get_detalhes_list] INFO: get list: [Papel: PETR4]
2025-10-27 22:01:21,199 [detalhes.get_detalhes_list] INFO: get list: [Papel: RENT3]
2025-10-27 22:01:22,020 [detalhes.get_detalhes_list] INFO: get list: [Papel: SUZB3]
2025-10-27 22:01:22,851 [detalhes.get_detalhes_list] INFO: get list: [Papel: VALE3]
2025-10-27 22:01:23,704 [detalhes.get_detalhes_list] INFO: get list: [Papel: WEGE3]

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ABEV3,Bebidas,12.15,10.52,14.29,191504000000,15761600000,92471600000,91719700000,20090200000,14752300000,2717720000
B3SA3,Serviços Financeiros Diversos,12.53,8.97,14.81,65989200000,5266500000,19736100000,10782100000,2745800000,4814670000,1325650000
ELET3,Energia Elétrica,54.35,31.24,54.93,125474000000,2308630000,118707000000,43681100000,10199000000,6631620000,-1325110000

In [28]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABEV3 to WEGE3
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Setor                10 non-null     object
 1   Cotacao              10 non-null     object
 2   Min_52_sem           10 non-null     object
 3   Max_52_sem           10 non-null     object
 4   Valor_de_mercado     10 non-null     int64
 5   Nro_Acoes            10 non-null     object
 6   Patrim_Liq           10 non-null     object
 7   Receita_Liquida_12m  10 non-null     object
 8   Receita_Liquida_3m   10 non-null     object
 9   Lucro_Liquido_12m    10 non-null     object
 10  Lucro_Liquido_3m     10 non-null     object
dtypes: int64(1), object(10)
memory usage: 960.0+ bytes

In [29]:
# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns={"index":"Ativo"}, inplace=True)

In [30]:
# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ABEV3,Bebidas,12.15,10.52,14.29,1.915040e+11,1.576160e+10,9.247160e+10,9.171970e+10,2.009020e+10,1.475230e+10,2.717720e+09
1,B3SA3,Serviços Financeiros Diversos,12.53,8.97,14.81,6.598920e+10,5.266500e+09,1.973610e+10,1.078210e+10,2.745800e+09,4.814670e+09,1.325650e+09
2,ELET3,Energia Elétrica,54.35,31.24,54.93,1.254740e+11,2.308630e+09,1.187070e+11,4.368110e+10,1.019900e+10,6.631620e+09,-1.325110e+09
3,GGBR4,Siderurgia e Metalurgia,18.22,13.79,20.70,3.669170e+10,2.013810e+09,5.492300e+10,6.910170e+10,1.752570e+10,3.269200e+09,8.562860e+08
4,ITSA4,Intermediários Financeiros,11.32,7.78,11.47,1.244500e+11,1.099380e+10,8.957400e+10,8.328000e+09,2.121000e+09,1.552100e+10,4.066000e+09

In [31]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ativo                10 non-null     object
 1   Setor                10 non-null     object
 2   Cotacao              10 non-null     float64
 3   Min_52_sem           10 non-null     float64
 4   Max_52_sem           10 non-null     float64
 5   Valor_de_mercado     10 non-null     float64
 6   Nro_Acoes            10 non-null     float64
 7   Patrim_Liq           10 non-null     float64
 8   Receita_Liquida_12m  10 non-null     float64
 9   Receita_Liquida_3m   10 non-null     float64
 10  Lucro_Liquido_12m    10 non-null     float64
 11  Lucro_Liquido_3m     10 non-null     float64
dtypes: float64(10), object(2)
memory usage: 1.1+ KB

In [32]:
# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")

ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)

ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)
ind_2.head()

Multiples  Ativo    P/L      DY  P/VP     ROE
0          ABEV3  12.98  0.0865  2.07  0.1595
1          B3SA3  13.71  0.0224  3.34  0.2440
2          ELET3  18.92  0.0647  1.06  0.0559
3          GGBR4  11.22  0.0363  0.67  0.0595
4          ITSA4   8.02  0.0872  1.39  0.1733

In [33]:
# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")

In [34]:
# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores["Nro_Acoes"]).round(2)
indicadores

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m,P/L,DY,P/VP,ROE,LPA,VPA
0,ABEV3,Bebidas,12.15,10.52,14.29,1.915040e+11,1.576160e+10,9.247160e+10,9.171970e+10,2.009020e+10,1.475230e+10,2.717720e+09,12.98,0.0865,2.07,0.1595,0.94,5.87
1,B3SA3,Serviços Financeiros Diversos,12.53,8.97,14.81,6.598920e+10,5.266500e+09,1.973610e+10,1.078210e+10,2.745800e+09,4.814670e+09,1.325650e+09,13.71,0.0224,3.34,0.2440,0.91,3.75
2,ELET3,Energia Elétrica,54.35,31.24,54.93,1.254740e+11,2.308630e+09,1.187070e+11,4.368110e+10,1.019900e+10,6.631620e+09,-1.325110e+09,18.92,0.0647,1.06,0.0559,2.87,51.42
3,GGBR4,Siderurgia e Metalurgia,18.22,13.79,20.70,3.669170e+10,2.013810e+09,5.492300e+10,6.910170e+10,1.752570e+10,3.269200e+09,8.562860e+08,11.22,0.0363,0.67,0.0595,1.62,27.27
4,ITSA4,Intermediários Financeiros,11.32,7.78,11.47,1.244500e+11,1.099380e+10,8.957400e+10,8.328000e+09,2.121000e+09,1.552100e+10,4.066000e+09,8.02,0.0872,1.39,0.1733,1.41,8.15
5,PETR4,"Petróleo, Gás e Biocombustíveis",30.00,28.30,35.88,3.866620e+11,1.288870e+10,3.992220e+11,4.931220e+11,1.191280e+11,7.737200e+10,2.665200e+10,5.00,0.1735,0.97,0.1938,6.00,30.97
6,RENT3,Diversos,39.32,26.71,44.03,4.256870e+10,1.082620e+09,2.548720e+10,3.957550e+10,9.900110e+09,2.325430e+09,-1.670980e+08,18.31,0.0479,1.67,0.0912,2.15,23.54
7,SUZB3,Madeira e Papel,49.11,47.48,64.87,6.208080e+10,1.264120e+09,4.313780e+10,5.129940e+10,1.329590e+10,7.821420e+09,5.004700e+09,7.94,0.0411,1.44,0.1813,6.19,34.12
8,VALE3,Mineração,61.66,47.78,61.88,2.798750e+11,4.539010e+09,2.141750e+11,2.095970e+11,4.980700e+10,2.895400e+10,1.208100e+10,9.67,0.0739,1.31,0.1352,6.38,47.19
9,WEGE3,Máquinas e Equipamentos,41.67,35.50,57.50,1.749020e+11,4.197320e+09,2.240880e+10,4.137960e+10,1.027150e+10,6.482750e+09,1.650470e+09,26.98,0.0201,7.81,0.2893,1.54,5.34

## <font color=#F8F8FF> Codigo para o Power Bi para criar grafico candlestick
---

In [ ]:
# # o código a seguir para criar um dataframe e remover as linhas duplicadas sempre é executado e age como um preâmbulo para o script:

# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

# plt.rcParams['font.family'] = 'sans-serif'
# plt.rcParams["font.sans-serif"] = 'Verdana'

# def candlestick(date, open, high, low, close):
#     fig, ax = plt.subplots(figsize=(30, 11), dpi=72, facecolor='#edf3ee')
#     ax.set_facecolor("#edf3ee")

#     # Converter tudo em arrays NumPy
#     open = np.array(open)
#     close = np.array(close)
#     high = np.array(high)
#     low = np.array(low)

#     # Definindo as cores de cada candle
#     cores = ["green" if c > o else "red" for o, c in zip(open, close)]

#     # Corpo do candle
#     for i in range(len(date)):
#         ax.bar(date[i], abs(open[i] - close[i]),
#                bottom=min(open[i], close[i]),
#                color=cores[i], width=0.8)

#         # Pavio
#         ax.bar(date[i], high[i] - low[i],
#                bottom=low[i],
#                color=cores[i], width=0.1)

#     ax.xaxis.set_major_locator(plt.MaxNLocator(20))
#     plt.xticks(rotation=45)
#     plt.grid(True, alpha=0.3)

#     return ax

# # Exemplo de uso (mantendo o seu pré-processamento)
# dataset["Date"] = pd.to_datetime(dataset["Date"], format="%Y-%m-%dT%H:%M:%S.%f")
# candlestick(dataset["Date"], dataset["Open"], dataset["High"], dataset["Low"], dataset["Close"])
# plt.subplots_adjust(left=0.07, bottom=0.05, right=0.95, top=0.95)
# plt.show()